{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">About HR Salins</h1>
  <p class="lead">
      This is my personal HR System, it allows for simple operations like Holidays Balance, Absence managment, Salaries.<br>
<!--      <a href="https://github.com/salakonrad/us-projekt-zaliczeniowy-aplikacja-hr" class="stretched-link">https://github.com/salakonrad/us-projekt-zaliczeniowy-aplikacja-hr</a>-->
  </p>
  <hr class="my-4">
  <p>Konrad Sala © 2021</p>
</div>
{% endblock %}
