{% extends "base.html" %}

{% block content %}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    <div class="container login-page-form" style="width:400px">
    <h2>Add Abseence</h2>
    <form method="POST" action="/add_absence">
      <div class="form-gorup">
          <label for="holiday_type">Holiday Type: </label>
          <select name="holiday_type" id="holiday_type" class="form-select" aria-label="Default select example">
              <option disabled selected value> -- select an option -- </option>
              <option value="urlop-macierzynski">Urlop Macierzynski</option>
              <option value="urlop-na-zadanie">Urlop na zadanie</option>
              <option value="urlop-wypoczynkowy">Urlop Wypoczynkowy</option>
          </select>
      </div>
      <div class="form-gorup">
          <label for="date_from">Date from: </label>
          <input type="date" id="date_from" name="date_from" min="2021-01-01" max="2021-12-31"><br>
      </div>
      <div class="form-gorup">
          <label for="date_to">Date to: </label>
          <input type="date" id="date_to" name="date_to" min="2021-01-01" max="2021-12-31">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
    </div>
{% endblock %}
