{% extends "base.html" %}

{% block content %}
    <h2>Sign Up</h2>

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

  <form method="POST" action="/signup">
      <div class="field">
          <div class="control">
              <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
          </div>
      </div>

      <div class="field">
          <div class="control">
              <input class="input is-large" type="password" name="password" placeholder="Your Password">
          </div>
      </div>

      <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
  </form>
{% endblock %}
